

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* menu */
.colornav{
    background-color: rgb(42, 127, 197);
}
.menu{
  /* position:absolute;
  z-index: 1; */
  width: 100%;
}

.colormenu{
    background: rgba(255, 255, 255, 0.75);
}




/********************************/
/*          formulario          */
/********************************/
.formulario{
    padding: 10px;
    margin:0 ;
    background-color: rgb(222, 231, 243);
}









/********************************/
/*          footer              */
/********************************/

.cajafooter{
  background-color:rgba(39, 38, 41, 0.89);
  width: 100%;
  height: 20vh;
  color:rgb(255, 255, 255);
}
